DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_HOST=db_service
SECRET_KEY='secret'
DJANGO_PORT=8005
GEOJSON_PATH=/app/data/municipalities_nl.geojson
CSV_PATH=/app/data/gemeenten-alfabetisch-2026.csv
DATABASE_URL=postgresql://postgres:postgres@db_service:5432/postgres