# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/
django-api

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage
.coverage.*
nosetests.xml
coverage.xml

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
# Ignore compiled files inside migrations only
**/migrations/__pycache__/
**/migrations/*.pyc

# Environment variables / secrets
.env

# IDEs / editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml

# OS files
.DS_Store
Thumbs.db

# Node / frontend
node_modules/

# Misc
celerybeat-schedule
docs/_build/
secrets.json